<div class="container pt-5">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <div class="wrapper">
      <div class="login-title mt-4">
        <h1>Login</h1>
      </div>
      <div>
        <div class="login-failed-error" *ngIf="accountService?.isAuthorized">Please confirm your email</div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <label for="email">Email</label>
          <input
            formControlName="email"
            placeholder="Email..."
            id="email"
            class="form-control mb-2"
          />
          <div
            class="login-error"
            *ngIf="
              loginForm.controls.email.touched &&
              loginForm.controls.email.invalid
            "
          >
            Please enter your email to login
          </div>
          <label for="password">Password</label>
          <input
            formControlName="password"
            placeholder="Password..."
            type="password"
            class="form-control mb-2"
          />
          <div
            class="login-error"
            *ngIf="
              loginForm.controls.password.touched &&
              loginForm.controls.password.invalid
            "
          >
            Please enter your password to login
          </div>
          <div class="login-footer">
            <button
              [disabled]="loginForm.invalid"
              class="disabled btn btn-primary mb-2 mt-2"
              type="submit"
            >
              Login
            </button>
          </div>
          <div class="register-link" >Not Registered? <a [routerLink]="['/register']">Register Here</a></div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </form>
</div>
