.wrapper {
  border: 1px solid rgb(34, 34, 34);
  border-radius: 25px;
  background-color: rgb(34, 34, 34);
}

.login-title {
  color: white;
  display: flex;
  justify-content: center;
}

label {
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 720px) {
  label {
    font-size: 14px;
  }
}

.login-error {
  color: red
}

.login-btn {
  display: flex;
  justify-content: center;
}

.login-failed-error {
  display: flex;
  justify-content: center;
  color: red;
}
