<div class="container pt-5">
  <div class="wrapper">
    <div class="register-title mt-4">
      <h1>Register</h1>
    </div>
    <div class="row m-4">
      <div class="col-6">
        <label class="register-label">First Name</label>
        <input
          class="form-control mb-2"
          placeholder="Please enter your first name"
        />
        <label class="register-label">Last Name</label>
        <input
          class="form-control mb-2"
          placeholder="Please enter your username"
        />
        <label class="register-label">Password</label>
        <input
          class="form-control "
          placeholder="Please enter your password"
        />
      </div>
      <div class="col-6">
        <label class="register-label">Last Name</label>
        <input
          class="form-control mb-2"
          placeholder="Please enter your last name"
        />
        <label class="register-label">Username</label>
        <input
          class="form-control mb-2"
          placeholder="Please enter your email"
        />
        <label class="register-label">Confirm Password</label>
        <input
          class="form-control"
          placeholder="Please confirm your password"
        />

      </div>
    </div>
    <div class="button-wrapper">
        <button type="submit" class="btn btn-primary mb-4">Complete Registration</button>
      </div>
  </div>
</div>
