<div class="container pt-5">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerUser(registerForm.value)"
  >
    <div class="wrapper">
      <div class="register-title mt-4">
        <h1>Register</h1>
      </div>

      <div class="row m-4">
        <div class="col-6">
          <label class="register-label">First Name</label>
          <input
            formControlName="firstName"
            class="form-control mb-2"
            placeholder="Please enter your first name"
          />
          <div class="form-error"  *ngIf="firstName.invalid && firstName.touched">First name is required</div>
          <label class="register-label">Email</label>
          <input
            formControlName="email"
            class="form-control mb-2"
            placeholder="Please enter your username"
          />
          <div class="form-error"  *ngIf="email.invalid && email.touched">Email is required</div>
          <label class="register-label">Team Name</label>
          <input
            formControlName="teamName"
            class="form-control mb-2"
            placeholder="Please enter your team name"
          />
          <div class="form-error" *ngIf="teamName.invalid && teamName.touched">Team Name is required</div>
          <label class="register-label">Password</label>
          <input
            formControlName="password"
            class="form-control"
            placeholder="Please enter your password"
            type="password"
          />
          <div class="form-error" *ngIf="password.invalid && password.touched">Password is required</div>
        </div>
        <div class="col-6">
          <label class="register-label">Last Name</label>
          <input
            formControlName="lastName"
            class="form-control mb-2"
            placeholder="Please enter your last name"
          />
          <div class="form-error" *ngIf="lastName.invalid && lastName.touched">Last name is required</div>
          <label class="register-label">Username</label>
          <input
            formControlName="userName"
            class="form-control mb-2"
            placeholder="Please enter your email"
          />
          <div class="form-error" *ngIf="userName.invalid && userName.touched">Username is required</div>
          <label class="register-label">Start Date</label>
          <input
            formControlName="startDate"
            class="form-control mb-2"
            placeholder="Please enter your teams start date"
            type="date"
          />
          <div class="form-error" *ngIf="startDate.invalid && startDate.touched">Start Date is required</div>
          <label class="register-label">Confirm Password</label>
          <input
            formControlName="confirmPassword"
            class="form-control"
            placeholder="Please confirm your password"
            type="password"
          />
          <div class="form-error" *ngIf="confirmPassword.invalid && confirmPassword.touched"> Please confirm your password</div>
          <div class="form-error" *ngIf="registerForm.errors?.misMatch && confirmPassword.touched && confirmPassword.valid">Password and confirm password do not match</div>
        </div>
      </div>
      <div class="button-wrapper">
        <button [disabled]="registerForm.invalid" type="submit" class="disabled btn btn-primary mb-4">
          Complete Registration
        </button>
      </div>
    </div>
  </form>
</div>
