<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="wrapper">
        <h1 class="activity-title text-center mt-4">Log Activity</h1>
        <form
          class="m-4"
          [formGroup]="logActivityForm"
          (ngSubmit)="logActivityService.saveActivity(logActivityForm.value)"
        >
          <em *ngIf="activityDate.errors?.ActivityDateBeforeTeamStartDate"
            >Activity date cannot be before the team start date</em
          >
          <em class="form-error" *ngIf="activityDate.errors.required && activityDate.touched">Required</em>
          <label htmlFor="activityDate">Activity Date</label>
          <input
            id="activityDate"
            formControlName="activityDate"
            type="date"
            class="shadow-none form-control mb-2"
            placeholder="Activity Date"
          />
          <label>Exercise Type</label>
              <em class="form-error" *ngIf="exerciseType.errors?.required && exerciseType.touched">Required</em>
            <select
              id="exerciseType"
              formControlName="exerciseType"
              class="shadow-none form-select form-control mb-2"
            >
              <option value="" selected>Select an exercise type</option>
              <option value="BIKE">Bike</option>
              <option value="RUN">Run</option>
              <option value="SWIM">Swim</option>
            </select>
            <em class="form-error" *ngIf="activityDistance.errors?.required && activityDistance.touched">Required</em>
          <label htmlFor="activityDistance">Activity Distance</label>
          <input
            id="activityDistance"
            formControlName="activityDistance"
            type="number"
            class="shadow-none form-control"
            placeholder="Activity Distance"
          />
          <button
            [disabled]="logActivityForm.invalid"
            type="submit"
            class="activity-btn shadow-none btn rounded-0 mr-2 mt-2 disabled"
          >
            Save Activity
          </button>
          <button (click)="handleCancel()" class="shadow-none btn btn-danger rounded-0 mt-2">
            Cancel
          </button>
        </form>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
